.text-aqua {
  color: rgba(148, 187, 233, 1);
}
.bg-aqua {
  background: rgb(255, 0, 112);
  background: radial-gradient(
    circle,
    rgba(255, 0, 112, 1) 85%,
    rgba(148, 187, 233, 1) 85%
  );
}
.overFlow {
  height: 300px;
  overflow-wrap: normal;
  overflow-y: scroll;
}
